.programmer-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.programmers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px;
    
}
.programmer-cart{
    position: fixed;
    right: 5%;
    background-color: rgb(240, 224, 224);
    border: 2px solid red;
    padding: 10px;

}