.programmer-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    margin: 30px;
}
.programmers{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
